<div class="container mt-4">

    <h2 class="text-center" *ngIf="id != null"> Update article  </h2>

    <h2 class="text-center" *ngIf="id==null" > Create article  </h2>

    <div class="col-6 mx-auto">

     

        <input [(ngModel)]="article.title" type="text" class="form-control m-1" placeholder="title">
        <ul>
            <li *ngFor="let item of article.tags">{{item}}</li>
        </ul>
        <div class="row m-1" >
            <input [(ngModel)]="tag" type="text" class="form-control w-75" placeholder="tag"> 
            <button (click)="article.tags.push(tag);tag=''" class="btn btn-dark w-25"  >Add</button>
    
        </div>
        
        <input class="form-control m1" [(ngModel)]="article.timer" type="number">
        <input (change)='select($event)' type="file"  class="form-control m-1" placeholder="image">
        <textarea [(ngModel)]="article.description" title="" id="" cols="30" rows="4" placeholder="description" class="form-control m-1" ></textarea>
        <div class="m-1">
         <angular-editor [placeholder]="'Enter text here...'" [config]="config" [(ngModel)]="article.content"></angular-editor>
        </div>
        <button (click)="updatearticle()" *ngIf="id != null"class="btn btn-dark form-control m-1">Update</button>

        <button (click)="createarticle()" *ngIf="id == null"class="btn btn-dark form-control m-1">Create</button>


    </div>

</div>