<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <!-- logo -->
          <a class="navbar-brand font-weight-bold mb-0" [routerLink]="['home']" title="Qurno">
            <img class="img-fluid" width="110" height="35" src="assets/images/logo.png" alt="Qurno">
          </a>

          <button class="search-toggle d-inline-block d-lg-none ms-auto me-1 me-sm-3" data-toggle="search" aria-label="Search Toggle">
            <span>Search</span>
            <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </button>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 d-inline"></i>
            <i class="ti ti-x d-none"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
              </li>
              <li class="nav-item @@about">
                <a class="nav-link" [routerLink]="['/about']">About</a>
              </li>
          
              <li class="nav-item @@Privacy">
                <a class="nav-link" [routerLink]="['/privacy']">Privacy</a>
              </li>
              <li class="nav-item @@login" *ngIf="_auth.isLoggedIn()==false">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
              </li>
              <li class="nav-item @@register" *ngIf="_auth.isLoggedIn()==false">
                <a class="nav-link" [routerLink]="['/register']">Register</a>
              </li>
              <li class="nav-item @@account" *ngIf="_auth.isLoggedIn()==true">
                <a class="nav-link" [routerLink]="['/author',_auth.getAuthorDataFromToken()._id]">My Account</a>
              </li>
              <li class="nav-item @@logout" *ngIf="_auth.isLoggedIn()==true">
                <a class="nav-link" (click)="logout()">Log out</a>
              </li>
        
            </ul>
            
    
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
