<div class="container mt-4">


    <h2 class="text-center"> Login to author account </h2>

    <div class="col-6 mx-auto">

     

        <div class="alert alert-danger" role="alert" *ngIf="err!=undefined">
            Password Incorrect or Email!
          </div>
        <input  [(ngModel)]='author.email' type="text" class="form-control m-1" placeholder="email">
        <input [(ngModel)]='author.password' type="password" class="form-control m-1" placeholder="password">
      
        <button (click)='login()' class="btn btn-dark form-control m-1">Login</button>


    </div>

</div>