  <!-- blog warpper start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">
            <span>Recent posts</span>
          </h2>
        </div>
      </div>
      <div class="row gy-5 gx-4 g-xl-5">
        <div class="col-lg-6" *ngFor="let item of article">
          <article class="card post-card h-100 border-0 bg-transparent">
            <div class="card-body">
              <a class="d-block" [routerLink]="['/article/',item._id]" title="The AGI hype train is running out of steam">
                <div class="post-image position-relative">
                  <img class="w-100 h-auto rounded" [src]="'https://blog-app-pzh6.onrender.com/getimage/'+item.image" alt="The AGI hype train is running out of steam" width="970" height="500">
                </div>
              </a>
              <ul class="card-meta list-inline mb-3">
                <li class="list-inline-item mt-2">
                  <i class="ti ti-calendar-event"></i>
                  <span>{{item.date|date:'fullDate'}}</span>
                </li>
                <li class="list-inline-item mt-2">—</li>
                <li class="list-inline-item mt-2">
                  <i class="ti ti-clock"></i>
                  <span>02 min read</span>
                </li>
              </ul>
              <a class="d-block" [routerLink]="['/article/',item._id]"
                title="The AGI hype train is running out of steam">
                <h3 class="mb-3 post-title">
                  {{item.title}}
                </h3>
              </a>
              <p>{{item.description}}</p>
            </div>
            <div class="card-footer border-top-0 bg-transparent p-0">
              <ul class="card-meta list-inline">
                <li class="list-inline-item mt-2" *ngFor="let user of users">
                  <a class="card-meta-author" title="Read all posts by - {{user.name}}" *ngIf="user._id==item.idAuthor">
                    <img class="w-auto" [src]="'https://blog-app-pzh6.onrender.com/getimage/'+user.image" alt="{{user.name}}"  width="26" height="26"> by <span>{{user.name}}</span>
                  </a>
                </li>
                <li class="list-inline-item mt-2">•</li>
                <li class="list-inline-item mt-2" >
                  <ul class="card-meta-tag list-inline" >
                    <li class="list-inline-item small" *ngFor="let tag of item.tags"><a [routerLink]="['/home']">{{tag}}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- blog warpper end -->